---
const data = {
    products: [
        {
            id: 1,
            name: "Producto 1",
            price: 30,
            imageUrl: "https://images.pexels.com/photos/6261615/pexels-photo-6261615.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
            imageHover: "https://images.pexels.com/photos/6261692/pexels-photo-6261692.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
        },
        {
            id: 2,
            name: "Producto 2",
            price: 80,
            imageUrl: "https://images.pexels.com/photos/4110096/pexels-photo-4110096.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
            imageHover: "https://images.pexels.com/photos/4110089/pexels-photo-4110089.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
        },
        {
            id: 3,
            name: "Producto 3",
            price: 130,
            imageUrl: "https://images.pexels.com/photos/10823180/pexels-photo-10823180.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
            imageHover: "https://images.pexels.com/photos/4113290/pexels-photo-4113290.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
        },
    ],
};
---

<section class="mx-auto px-4 py-8 w-full max-w-screen-2xl">
    <div class="mx-auto mb-4 lg:mb-10">
        <h1 class="text-[#663300] text-2xl font-bold">Los mas vendidos</h1>
    </div>
    <div class="mx-auto container">
        <div class="grid grid-cols-1 gap-8 lg:grid-cols-3 md:grid-cols-2">
            <div class="group relative flex flex-col">
                <div
                    class="relative min-w-[280px] w-full pb-3 h-96 overflow-hidden cursor-pointer"
                >
                    <img
                        src={data.products[0].imageUrl}
                        class="absolute w-full h-full object-cover transition-opacity duration-500 group-hover:opacity-0"
                    />
                    <img
                        src={data.products[0].imageHover}
                        class="absolute w-full h-full object-cover opacity-0 transition-opacity duration-500 group-hover:opacity-100"
                    />
                </div>
                <div class="flex justify-between">
                    <div>
                        <h5
                            class="block cursor-pointer text-xl font-semibold text-[#703f07] group-hover:text-[#efc86b] transition-colors duration-500"
                        >
                            {data.products[0].name}
                        </h5>
                    </div>
                    <h5
                        class="block antialiased tracking-normal font-sans text-lg font-semibold leading-snug text-[#474747]"
                    >
                        {data.products[0].price}bs
                    </h5>
                </div>
            </div>
            <div class="group relative flex flex-col">
                <div
                    class="relative min-w-[280px] w-full pb-3 h-96 overflow-hidden cursor-pointer"
                >
                    <img
                        src={data.products[1].imageUrl}
                        class="absolute w-full h-full object-cover transition-opacity duration-500 group-hover:opacity-0"
                    />
                    <img
                        src={data.products[1].imageHover}
                        class="absolute w-full h-full object-cover opacity-0 transition-opacity duration-500 group-hover:opacity-100"
                    />
                </div>
                <div class="flex justify-between">
                    <div>
                        <h5
                            class="block cursor-pointer text-xl font-semibold text-[#703f07] group-hover:text-[#efc86b] transition-colors duration-500"
                        >
                            {data.products[1].name}
                        </h5>
                    </div>
                    <h5
                        class="block antialiased tracking-normal font-sans text-lg font-semibold leading-snug text-[#474747]"
                    >
                        {data.products[1].price}bs
                    </h5>
                </div>
            </div>
            <div class="group relative flex flex-col">
                <div
                    class="relative min-w-[280px] w-full pb-3 h-96 overflow-hidden cursor-pointer"
                >
                    <img
                        width="600px"
                        height="600px"
                        src={data.products[2].imageUrl}
                        class="absolute w-full h-full object-cover transition-opacity duration-500 group-hover:opacity-0"
                    />
                    <img
                        width="600px"
                        height="600px"
                        src={data.products[2].imageHover}
                        class="absolute w-full h-full object-cover opacity-0 transition-opacity duration-500 group-hover:opacity-100"
                    />
                </div>
                <div class="flex justify-between">
                    <div>
                        <h5
                            class="block cursor-pointer text-xl font-semibold text-[#703f07] group-hover:text-[#efc86b] transition-colors duration-500"
                        >
                            {data.products[2].name}
                        </h5>
                    </div>
                    <h5
                        class="block antialiased tracking-normal font-sans text-lg font-semibold leading-snug text-[#474747]"
                    >
                        {data.products[2].price}bs
                    </h5>
                </div>
            </div>
        </div>
    </div>
</section>
