---
export interface Product {
  id: number
  name: string
  price: number
  unit: string
  imageUrl: string
  imageHover: string
  category: string
  slug: string
}

const { product } = Astro.props as { product: Product }
---

<a href={`/productos/${product.slug}`} class="group relative flex flex-col">
  <div class="relative min-w-[280px] w-full pb-3 h-96 overflow-hidden cursor-pointer">
    <img
      src={product.imageUrl}
      alt={product.name}
      class="absolute w-full h-full object-cover transition-opacity duration-500 group-hover:opacity-0"
      loading="lazy"
    />
    <img
      src={product.imageHover}
      alt={product.name}
      class="absolute w-full h-full object-cover opacity-0 transition-opacity duration-500 group-hover:opacity-100"
      loading="lazy"
    />
  </div>
  <div class="flex justify-between px-1">
    <h5 class="block cursor-pointer text-xl font-semibold text-primary group-hover:text-accent transition-colors duration-500 font-sans">
      {product.name}
    </h5>
    <span class="block text-lg font-semibold text-muted font-sans">
      Bs {product.price.toFixed(2)}
    </span>
  </div>
</a>
